@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Inter";
}

body {
  @apply bg-white text-slate-900;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
